# --- Discord ---
# token Discord BOT
DISCORD_TOKEN=discord_bot_token

# --- Google Sheets ---
# Nom de la feuille Google Sheets
GOOGLE_SHEET_NAME=Reservations

# Chemin vers le fichier des credentials Google Cloud
GOOGLE_CREDENTIALS_PATH=credentials.json

# --- Timezone ---
TZ=Europe/Paris

# --- Logging ---
LOG_LEVEL=INFO
